/node_modules
/public/hot
/public/storage
/public/uploads/*
/public/m3u8/*
/public/customs/*
/public/channel_logos/*
/public/samples/*
/public/video_thumbnail/*
/public/website_logos/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
